*.aux
*.glo
*.gls
*.hd
*.ilg
*.idx
*.sty
*.log
*.out
*.gz
*.ilg
*.toc
*.zip
*.synctex
*.org

.DS_Store
.swp


build
OLD
Tests

*~

/LOSCHEN
/Tests
/drafts
/self-extracting
/versions

NewSymbols/Done/SchoedingersCat.tex
NewSymbols/Done/Sleepey.tex
